@import '~tailwindcss/tailwind';
@import '~photonkit/dist/css/photon';

body {
    background-color: lightgray;
}

.toolbar-menu {
  display: none;
}

@media screen and (max-width: 600px) {
  .pane.sidebar {
    display: none;
  }

  .toolbar-menu {
    display: block;
  }
}

img.img-circle  {
  object-fit: cover;
  width: 48px;
  height: 48px;
}
