<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block stylesheets %}{{ encore_entry_link_tags("app") }}{% endblock %}
        {% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
    </head>
    <body>
        <div class="window">
            <header class="toolbar toolbar-header">
                <h1 class="title">
                    {{ title|default("Xoomify") }}
                </h1>
		<div class="toolbar-actions toolbar-menu">
		<ul class="tab-group">
		    <a hx-get="/charts/songs/week" hx-target="#main-pane" class="tab-item">
			<span class="icon icon-home"></span>
			Home
		    </a>
		    <a hx-get="/charts/songs/week/me" hx-target="#main-pane" class="tab-item">
			<span class="icon icon-note-beamed"></span>
			My Top 20
		    </a>
		    <a hx-get="/history" hx-target="#main-pane" class="tab-item">
			<span class="icon icon-hourglass"></span>
			History
		    </a>
		    <a hx-get="/users" hx-target="#main-pane" class="tab-item">
			<span class="icon icon-users"></span>
			Users
		    </a>
		</ul>
		</div>
                <div class="toolbar-actions">
                    <div style="text-align: center" id="periodRangeButtons">
                        <div class="btn-group">
                            <a class="btn btn-default btn-large" id="todayRangeButton">
                		today
                	    </a>
                            <a class="btn btn-default btn-large" id="weekRangeButton">
                                week
                            </a>
                            <a class="btn btn-default btn-large" id="monthRangeButton">
                		month
                	    </a>
                            <a class="btn btn-default btn-large" id="yearRangeButton">
                		year
                	    </a>
                        </div>
                    </div>
                </div>
            </header>
            <div class="window-content">
                <div class="pane-group">
                    <div class="pane pane-sm sidebar">
			<h5 class="nav-group-title">Favourites</h5>
                        <nav class="nav-group">
                            <a hx-get="/charts/songs/week" hx-target="#main-pane" class="sidebarLink nav-group-item">
                                <span class="icon icon-home"></span>
                                Home
                            </a>
                            <a hx-get="/charts/songs/week/me" hx-target="#main-pane" class="sidebarLink nav-group-item">
                                <span class="icon icon-note-beamed"></span>
                                My Top 20
                            </a>
                            <a hx-get="/history" hx-target="#main-pane" class="sidebarLink nav-group-item">
                                <span class="icon icon-hourglass"></span>
                                History
                            </a>
                            <a hx-get="/users" hx-target="#main-pane" class="sidebarLink nav-group-item">
                                <span class="icon icon-users"></span>
                                Users
                            </a>
                        </nav>
                    </div>
                    <div class="pane" hx-get="/charts/songs/week" hx-trigger="load" id="main-pane">
                    </div>
                </div>
            </div>
            <footer class="toolbar toolbar-footer">
	        <h1 class="title">
	            fork me on <a href="https://github.com/gotha/xoomify" target="_blank"><u>github</u></a>
                </h1>
            </footer>
        </div>
    </body>
</html>
